/Data/MultiTask_Training_Data/
/Data/ko_COMEDY/task1_dataset/
/Data/ko_COMEDY/task2_dataset/
/Data/ko_COMEDY/task3_dataset/
/Data/ko_COMEDY/MultiTask_Train.json
/Data/ko_COMEDY/MultiTask_Validation.json

/Logs
/Output
/Models/
/wandb/
/Test/openai_api_key.json
/logs
.env
__pycache__
*.zip
Test/results
run.sh
inference.sh
test.sh